html {
    --col-accent: #ffda00;
    --col-dark: #29292b;
    --col-darker: #1e1e20;
    --col-darkest: #0f0f10;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

html, body {
    background-color: var(--col-darkest);
}

.nav {
    background-color: var(--col-darkest);
}
.nav-sidebar {
    background-color: var( --col-dark );
}

@keyframes slideInUp {
    from {
        transform: translateY( 100% );
    }
    to {
        transform: translateY( 0 );
    }
}

@keyframes slideOutDown {
    from {
        transform: translateY( 0 );
    }
    to {
        transform: translateY( 100% );
    }
}

.restaurant-list-sidebar {
    background-color: var( --col-darkest );
    padding: 2em;
}

.restaurant-list__item {
    display: flex;
    align-items: center;
    padding: 2em 0;
    border-bottom: 1px solid var(--col-dark);
}
.restaurant-list__item:hover {
    background-color: var(--col-darker);
    cursor: pointer;
}
.restaurant-list__item:active {
    background-color: var(--col-darkest);
}

.restaurant-list__item-image__container {
    margin-right: 1em;
}

.restaurant-list__item-image {
    display: block;
    max-width: 100px;
}